[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
missingno = "*"
seaborn = "*"
jupyter = "*"
xlrd = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
